

		<p><button onclick=(); >xxxx</button></p>

html { --mnu-back-col: lightgray; --menu-width: 250px; }

body, html { background-color: #fefefe; font: 12pt monospace; height: 100%; margin: 0; }

a { color: crimson; }

blockquote, pre { background-color: #eee; padding: 10px; }

button, input[type=button] { background-color: #ddd; border: none; color: #322; cursor: pointer; padding: 3px 20px; }
button:hover { background: #ccc; color: #fff }

input[type=range] { -webkit-appearance: none; -moz-appearance: none; background-color: #ddd; width: 160px; }
input[type=range]::-moz-range-thumb { background-color: #888; border-radius: 0; width: 10px; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; background-color: #888; height: 20px; width: 10px; }

.contents { border: 0px solid red; left: 0; margin: 0 auto; max-width: 800px; position: absolute; right: 0; }

.contentsContainer { height: 100%; width: 100%; }

.iframeMenu { border-width: 0; height: 100%; margin: 0; width: 100%; }
.iframeContents { border-width: 0; height: 100%; margin: 0; width: 100%; }

.menuContainer { padding: 0 10px 0 15px; }
.menuContainer a { text-decoration: none; }
.menuContainer a:hover, .menuContainer a:focus{ color: #f1f1f1; }


#divContentsContainer { box-sizing: border-box; height: 100%; margin-left: var( --menu-width ); transition: margin-left .5s;
	position: absolute; top: 0; width: calc( 100% - var( --menu-width ) );
}

#divEditFile {
	background-color: #555; color: #fff; opacity: 0.5; padding: 8px; position: fixed; right: 20px; top: 20px;
	vertical-align: middle; z-index: 1;
}

#divEditFile:hover { cursor: pointer; opacity: 1; }

#divEditFile img { vertical-align: middle; width: 24px; }

#divHamburger {
	background-color: #edd; cursor:pointer; font-size:30px;	left: var( --menu-width ); line-height: 35px; margin: 0; opacity: 0.5;
	padding: 5px 15px 8px 10px; position: fixed; top: 80px; transition: left .5s; z-index: 1;
}

#divHamburger:hover { cursor: pointer; opacity: 1; }

#divMenu {
	background-color: var( --mnu-back-col ); box-sizing: border-box; height: 100%; left: 0; overflow: auto;
	position: fixed; top: 0; transition: 0.5s; width: var( --menu-width ); z-index: 1;
}

#divMenu p { margin: 0 }

@media screen and ( max-height: 450px ) {
	.menu {padding-top: 15px;}
	.menu a {font-size: 18px;}
}
