
html,
body { font: 12pt monospace; height: 100%; margin: 0;  overflow: hidden; }

html { counter-reset: chapter; }
body { counter-reset: section;  }
h1 { counter-reset: paragraph;}
h2 { counter-reset: section; }

a { color: crimson; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { background-color: yellow; }
aside { font-style: oblique; }
button, input[type=button] { background-color: #ccc; border: 2px #fff solid; color: #322; }

#contents h2:not(#preamble-and-nine-guiding-principles)::before{ counter-increment: chapter; content: 'Chapter ' counter( chapter ) ': '; }

#contents h3:before { counter-increment: section; content: 'Section ' counter( chapter ) '.' counter( section ); }

p::before { counter-increment: paragraph; content: '[' counter( paragraph ) '] '; }
pre, blockquote { background-color: #eee; padding: 10px; }
summary { outline: none; }
summary h3 { display: inline; }

.popUp { background-color: white; border: 1px solid red; left: 180px; opacity: 1.0; padding: 5px; position: absolute; width: 120px; z-index: 10; }

#bars { color: crimson; cursor: pointer; font-size: 24pt; text-decoration: none; }

#container { border: 0px #0f0 solid; height: 100%; left: 0; position: absolute; overflow: hidden; transition: left 1s; width: 100%; }

/* #contents { border: 0px #ccc solid; height: 100%; margin-left: 325px; overflow-x: hidden; position: absolute; width: 100vw; } */
#contents { border: 0px #f00 solid; height: 100%; left: 325px; overflow-x: hidden; position: absolute; max-width: calc( 100% - 325px); }

#butEditFile { background-color: #555; color: #fff; opacity: 0.5; padding: 8px; position: fixed; right: 20px; top: 20px; }
#butEditFile a { text-decoration: none; color: #fff; }
#butEditFile:hover { cursor: pointer; opacity: 1; }

#butNextFile { color: #888; font-size: 36pt; opacity: 0.5; padding: 8px; position: fixed; right: 20px; top: 50%; }
#butPreviousFile { color: #888; font-size: 36pt; opacity: 0.5; padding: 8px; position: fixed; margin-left: 350px; top: 50%; }

#butNextFile a, #butPreviousFile a { text-decoration: none; color: #888; }
#butNextFile:hover, #butPreviousFile:hover { cursor: pointer; opacity: 1; }

#divMD {border: 0px orange solid; margin: 0 auto; max-width: 800px; overflow-x: hidden; position: adsolute; }

#hamburger { background-color: #eee; left: 325px; position: absolute; top: 20px;  z-index: 1 }
#hamburger h2, #menuItems h2, #menuItems h4 { margin: 0; }

#ifr { /* border: 0px yellow solid; */ height: 500px; width: 100%; }
#ifrHTML { border: 0px yellow solid; margin: 0 8%; height: 100%; padding: 0; width: 100%; }

#menu { background-color: #eee; border: 1px #ccc solid; box-sizing:border-box; height: 100%; overflow-y: auto; padding: 0 10px; position: fixed; width: 325px; }
#menu ul { margin:0; padding-left:20px; }
#menuBreadcrumbs h2, #menuBreadcrumbs h3, #mnuUserTitle h3 { font-size: 14pt; margin: 0; }


